*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: rgba(19, 102, 255, 0.979);
    color: #fff;
    padding: 8px;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 20px;
    padding: 8px;
}

header nav li a{
    text-decoration: none;
    color: #fff;
    padding: 8px;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

.container-flex{
    display: flex;
}

header .container, section .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section img{
    width: 500px;
    padding: 30px 30px 0;
}

h2{
    color: rgba(19, 102, 255, 0.979);
    border-bottom: 3px solid rgba(19, 102, 255, 0.979);
    padding: 15px 0;
}

.produto img{
    max-width: 100%;
    padding: 0;
}

.conteudo{
    display: grid;
    grid-template-columns: repeat(3, 24%);
}

.conteudos{
    display: block;
}

.produtos{
    display: grid;
    grid-template-columns: repeat(4, 24%);
    column-gap: 1%;
    row-gap: 4%;
}

button{
    display: block;
    width: 100%;
    padding: 4px;
    border: none;
    background-color: rgba(19, 102, 255, 0.979);
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 6px;
}

strong{
    padding: 20px 0 0;
}

/* Tamanho para tablet*/

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .container{
        max-width: 90%;
        display: block;
    }

    section .container{
        display: block;
        align-items: center;
        justify-content: space-between;
    }

    .produtos a{
        font-size: 1.5em;
    }

    section img{
        width: 100%;
        margin-right: 0px;
        padding: 30px 0 0;
    }

    .produtos{
        grid-template-columns: repeat(2, 49%);
    }
}

/* Tamanho para celular*/

@media screen and (max-width: 640px) {
    .container{
        max-width: 90%;
        display: block;
    }

    section .container{
        display: block;
        align-items: center;
        justify-content: space-between;
    }

    .produtos a{
        font-size: 1.5em;
    }

    section img{
        width: 100%;
        padding: 30px 0 0;
    }

    .produtos{
        grid-template-columns: repeat(1, 100%);
    }
}
